button {
    width: 50%;
    padding: 10px 15px;
    margin: auto;
    margin-top: 2rem;
    display: block;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(72, 72, 72);
}

.quot-wrapper {
    width: 30%;
    height: 100vh;
    margin: auto;
    margin-top: 2rem;
}

.quot-form {
    background-color: white;
    box-shadow: 0 0 10px 1px rgb(204, 204, 204);
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 15px;
}

label {
    width: 100% !important;
}